# Ficheros compilados de la aplicación
*.class

# Log de debug
log-SREC.txt

# Ficheros de configuración para cada usuario
datos/opciones.xml
datos/opdefecto.xml

# Directorios de build
build/**
release/**
bin/**
build_tmp/**
